<!DOCTYPE HTML>
<html lang="en">
    <head>
        <!--=============== basic  ===============-->
        <meta charset="UTF-8">
        <title>Thalis Rebouças</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <meta name="robots" content="index, follow"/>
        <meta name="keywords" content=""/>
        <meta name="description" content=""/>
        <!--=============== css  ===============-->
        {{ "<!-- CSS Plugins -->" | safeHTML }}
        {{ range site.Params.plugins.css}}
        <link type="text/css" rel="stylesheet" href="{{ .link | absURL }}"></link>
        {{ end }}
        <!--=============== favicons ===============-->
        <link rel="shortcut icon" href="{{ site.Params.favicon | absURL }}">
    </head>
    <body>
        <!--loader-->
        <div class="loader-wrap">
            <div class="pin"></div>
        </div>
        <!--loader end-->
        <!-- Main  -->
        <div id="main">
            <!-- header-->
            <header class="main-header">
                <a class="logo-holder" href="index.html">
                 <img src="{{ site.Params.logo | absURL }}"  alt="">
                </a>
                <!-- nav-button-wrap-->
                <div class="nav-button but-hol">
                    <span  class="nos"></span>
                    <span class="ncs"></span>
                    <span class="nbs"></span>
                    <div class="menu-button-text">Menu</div>
                </div>
                <!-- nav-button-wrap end-->
                 <div class="header-social">
                    <ul >
                        <li><a href="https://www.linkedin.com/in/thalisreboucas/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
                        <li><a href="https://www.instagram.com/thalisreboucas/" target="_blank"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://twitter.com/ThalisReboucas" target="_blank"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="https://github.com/thalisreboucas" target="_blank"><i class="fab fa-github-alt"></i></a></li>
                    </ul>
                </div>
            <!--  showshare -->  
                <div class="show-share">
                  <i class="fa fa fa-barcode" aria-hidden="true"></i>
                </div>
                <!--  showshare end -->
            </header>
            <!--  header end -->
            <!--  navigation bar -->
            <div class="nav-overlay">
                <div class="tooltip color-bg">Fechar</div>
            </div>
            <div class="nav-holder">
                <a class="header-logo" href="index.html"><img src="{{ site.Params.logo2 | absURL }}" alt=""></a> 
                <div class="nav-title"><span>Menu</span></div>
                <div class="nav-inner-wrap">
                    <nav class="nav-inner sound-nav" id="menu">
                      <ul>
                            <li><a href="#sec1" class="act-link">Home</a></li>
                            <li><a href="#sec2">Sobre Mim</a></li>
                            <li><a href="#sec3">Resumo</a></li>
                            <li><a href="#sec6">Contato</a></li>
                            <li><a href="post">Blog</a></li>
                        </ul>
                    </nav>
                </div>
            </div>
            <!--  navigation bar end -->
            <!--wrapper-->
            <div id="wrapper" class="single-page-wrap">
                <!-- Content-->
                <div class="content">
                    <div class="single-page-decor"></div>
                    <div class="single-page-fixed-row">
                        <div class="scroll-down-wrap">
                            <div class="mousey">
                                <div class="scroller"></div>
                            </div>
                            <span>Desça mais um Pouco</span>
                        </div>
                        <a href="index.html" class="single-page-fixed-row-link"><i class="fal fa-arrow-left"></i> <span>Voltar para a Home</span></a>
                    </div>
                    <!-- section-->
                    <section class="parallax-section fw-parallax" data-scrollax-parent="true">
                        <div class="bg par-elem"  data-bg="images/bg/16.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
                        <div class="overlay"></div>
                        <div class="container">
                            <div class="error-wrap">
                                <h2>404</h2>
                                <p>Me desculpe,mas essa página não existe.</p>
                                <div class="clearfix"></div>
                                <form action="#">
                                    <input name="se" id="se" type="text" class="search" placeholder="Quer Procurar algo ?" value="Quer Procurar algo ?">
                                    <button class="search-submit color-bg" id="submit_btn"><i class="fa fa-search"></i> </button>
                                </form>
                                <div class="clearfix"></div>
                                <p>Ou</p>
                                <a href="index.html" class="btn flat-btn color-btn">Voltar para a página inicial.</a>
                            </div>
                        </div>
                    </section>
                    <!-- section end-->
                    <!-- section-->
                    <section class="dark-bg2 small-padding order-wrap">
                        <div class="container">
                            <div class="row">
                                <div class="col-md-8">
                                    <h3>Quer entrar em Contato ?</h3>
                                </div>
                                <div class="col-md-4"><a href="c#sec6" class="btn flat-btn color-btn">Enviar Email.</a> </div>
                            </div>
                        </div>
                    </section>
                    <!-- section end-->
                </div>
                <!-- Content end -->
                <!-- footer-->
                <div class="height-emulator fl-wrap"></div>
                <footer class="main-footer fixed-footer">
                    <!--footer-inner--> 
                    <div class="footer-inner fl-wrap">
                        <div class="container">
                            <div class="partcile-dec" data-parcount="90"></div>
                            <div class="row">
                                <div class="col-md-2">
                                    <div class="footer-title fl-wrap">
                                        <span>Thalis.</span>
                                    </div>
                                </div>
                                <div class="col-md-5">
                                    <div class="footer-header fl-wrap"><span>01.</span>Últimos Twitts</div>
                                    <div class="footer-box fl-wrap">
                                        <div class="twitter-swiper-container fl-wrap" id="twitts-container"></div>
                                        <a href="#" class="btn float-btn trsp-btn">seguir</a>
                                    </div>
                                </div>
                                <div class="col-md-5">
    
                                        <div class="footer-contacts fl-wrap">
                                            <ul>
                                                <li><i class="fal fa-envelope"></i><span>Email :</span><a href="#">thalisreboucasdeoliveira@gmail.com</a></li>
                                                <li><i class="fal fa-map-marker"></i><span>Local</span><a href="#">Fortaleza -Ceará</a></li>
                                            </ul>
                                        </div>
                                        <!-- footer end -->                                      
                                    </div>
                                    <!-- footer-box end--> 
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--footer-inne endr--> 
                    <!--subfooter--> 
                    <div class="subfooter fl-wrap">
                        <div class="container">
                           <!-- policy-box-->
                            <div class="policy-box">
                                <span>&#169; Thalis Rebouças 2022 / Todos os direitos reservados. </span>
                            </div>
                            <!-- policy-box end-->
                            <a href="#" class="to-top color-bg"><i class="fal fa-angle-up"></i><span></span></a>
                        </div>
                    </div>
                    <!--subfooter end--> 
                </footer>
                <!-- footer end-->
                <!-- contact-btn -->	
                <a class="contact-btn color-bg" href="#sec6"><i class="fal fa-envelope"></i><span>Contactar</span></a>  
                <!-- contact-btn end -->	      
            </div>
            <!--   content end -->
        </div>
        <!-- Main end -->
        <!--=============== scripts  ===============-->
        <script type="text/javascript" src="plugins/js/jquery.min.js"></script>
        <script type="text/javascript" src="plugins/js/plugins.js"></script>
        <script type="text/javascript" src="plugins/js/scripts.js"></script>
    </body>
</html>